// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 767px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1199px)",
  'lg': "(min-width: 1200px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
) !default;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
$montserrat: 'Montserrat', sans-serif; // Titles
$opensans: 'Open Sans', sans-serif; // Subtitles and text

// Colors
$white: #fff;
$black: #000;
$almost_white: #f0eff4;

$keppler: #f44336;

