@import "variables";
@import "mixins";
@import "bourbon";

.slick-slide {
  &:focus, a {
    outline: none;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.slick-prev:before, .slick-next:before {
  color: $keppler;
}

label {
  font-family: $opensans;
  font-weight: 600;
}

textarea {
  resize: none;
}

.form-control {

  &:focus {
    border-color: $keppler;
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent;
  }
}

.main-btn {
  border-radius: 15px;
  padding: 8px 24px;
  font-family: $opensans;
  transition: all ease-in-out .5s;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.25);

  &:hover {
    box-shadow: 0 13px 15px 0 rgba(0,0,0,.25);
    transform: translateY(-5px);
    transition: all ease-in-out .5s;
  }

  @include responsive(xs) {
    font-size: 14px;
  }
}

.btn-orange {
  color: $white;
  font-weight: 700;
  background-color: $keppler;
  // margin-top: 30px;
}

.btn-flat {
  color: $black;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $opensans;
  position: relative;
  background-color: transparent;

  &:hover {
    color: $black;
  }

  &:hover::before {
    width: 100%;
    transition: width .5s;
  }

  &::before {
    @include pseudo();
    @include size(50%, 3px);
    background-color: $black;
    bottom: 10px;
    transition: width .5s;
  }
}

.section-title {
  font-family: $montserrat;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
}

.section-title-separator {
  margin-bottom: 50px;
  text-align: center;

  span {
    display: inline-block;
    height: 7px;
    border-radius: 1rem;
    background-color: #EEECF4;
  }

  .large {
    width: 70px;
  }

  .medium {
    width: 30px;
  }

  .small {
    width: 7px;
  }
}

.navbar {
  padding: 8px 50px;

  @include responsive(xs) {
    padding: 8px 16px;
  }
}

.navbar-brand {
  margin-right: 0;

  img {
    width: 100px;
  }
}

.nav-link {
  font-weight: 700;
  font-size: 13px;
  font-family: $opensans;
  text-transform: uppercase;
}

.home-bg {
  background-image: url('https://images.unsplash.com/photo-1527515862127-a4fc05baf7a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=94bc060b3ea71111a8caeb6e1ace30f0&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
  width: 100%;
}

.home-bg-mask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, .4);
  padding: 0 50px;
  position: absolute;
  @include size(100%);

  @include responsive(xs) {
    padding: 0 20px;
  }

  h1 {
    color: $white;
    font-family: $montserrat;
    font-size: 60px;
    z-index: 1;
    
    @include responsive(xs) {
      font-size: 30px;
    }
  }

  button {
    z-index: 1;
  }
}

.services {
  padding: 70px 0;
  position: relative;

  &::before {
    background-image: url('../img/wave_double.svg');
    // background-image: url('../img/wave_2.png');
    background-size: cover;
    @include pseudo();
    // height: 100px;
    // top: -99px;
    height: 400px;
    top: -399px;
    width: 100%;
  }
}

.service-card {
  border-radius: 10px;
  padding: 40px 20px;
  box-shadow: 0px 5px 25px -5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-icon {
  margin: 20px 0;

  img {
    width: 80px;
  }
} 

.service-title {
  font-size: 25px;
  font-weight: 600;
  font-family: $montserrat;
}

.service-text {
  text-align: center;
  font-size: 15px;
  font-family: $opensans;
}

.products {
  padding: 70px 0;
  position: relative;
}

.blog {
  padding: 70px 0;
}

.post-wrapper {
  height: 500px;
  opacity: .5;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-property: opacity, all;
}

.post-content {
  height: 400px;
  border-radius: 10px;
  background-color: $white;
  position: relative;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-property: opacity, all;
}

.post-title {
  font-family: $montserrat;
  font-weight: 700;
  font-size: 20px;
  color: rgba($black, .9);
}

.post-text {
  padding: 20px;

  p {
    color: rgba($black, .6);
    font-family: $opensans;
    font-size: 15px;
  }
}

.post-img {
  height: 200px;

  img {
    @include size(100%);
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
}

.post-date {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  display: flex;
  color: rgba($black, .8);
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-property: opacity, all;

  &::after {
    @include pseudo();
    height: 30px;
    margin: 0 auto;
    left: 50%;
    top: -35px;
    width: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ccccce;
    border-radius: 15px;
  }

  .month {
    font-weight: 700;
    font-size: 14px;
    font-family: $opensans;
    text-transform: uppercase;
  }
  
  .day {
    @extend .month;
    font-size: 20px;
  }
}

.slick-center .post-wrapper {
  opacity: 1;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-property: opacity, all;
}

.slick-center .post-content {
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-property: opacity, all;
  box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.2);
}

.slick-center .post-date {
  opacity: 1;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-property: opacity, all;
}

.sticky-custom {
  top:-115px;
  transition:1s all ease;
  position: inherit;
}

.stickyhead {
  position: fixed;
  background:white;
	top: 0;
	width: 100%;
  z-index: 9;
  transition:1s all ease;
	box-shadow:0 0 10px rgba(0,0,0,0.3);
}

footer {
  font-family: $opensans;
  color: rgba($black, .5);
  position: relative;
  padding: 50px 0;
  width: 100%;

  span {
    font-weight: 700;
    color: $keppler;
    text-transform: uppercase;
  }

  li {
    list-style: none;
    margin: 10px 0;
    font-weight: 500;

    &:first-child {
      font-weight: 700;
      color: $keppler;
      text-transform: uppercase;
    }
  }

  a {
    color: rgba($black, .5);
  }
}

.footer-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  img {
    width: 200px;
  }  
}

.banner {
  background-image: url('https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0a9cacdd6a4e7e408b8ba89d3d6e91d3&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 350px;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::before {
    @include pseudo();
    @include size(100%,100%);
    background-color: rgba( $black, .5 );
  }

  .banner-content {
    text-align: center;
    z-index: 1;

    p {
      color: $white;
      font-family: $montserrat;
      font-size: 25px;
      font-weight: 600;
    }
  }
}

.gallery {
  padding: 70px 0;
}

.masonry {
  column-count: 4;
  column-gap: 10px;
  
  @include responsive(xs) {
    column-count: 2;
  }

  @include responsive(sm) {
    column-count: 3;
  }

  img {
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

.gallery-item {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @include size(100%, 500px);
}

.modal-dialog {
  max-width: 50vw;

  @include responsive(xs) {
    max-width: 95vw;
  }

  @include responsive(sm) {
    max-width: 80vw;
  }
}

.modal-content {
  border: 0;
  border-radius: 30px;
  box-shadow: 1px 1px 20px rgba(0,0,0,.5);
}

.modal-header {
  flex-direction: column;
  align-items: center;

  .modal-title {
    font-family: $montserrat;
    font-size: 20px;
    font-weight: 600;
  }

  p {
    font-family: $opensans;
    font-size: 15px;
    text-align: center;
  }
}

.modal-body {
  padding: 15px 30px;
}

.two-btn-cta {
  display: flex;
  justify-content: center;
  margin: 50px auto 0;

  a {
    margin-right: 40px;
  }
}

// Products
.page-tabs-nav li {
	padding-left: 5px;
	padding-right: 5px;
}

.products-card {
  display: inline-block;
  height: 375px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  border-radius: 10px;
}

.small-title {
  line-height: 35px;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(255, 255, 255, .5);
  right: 0;
  color: $black;
  font-family: $opensans;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity 0.5s;
}

.products-card.active .small-title {
  opacity: 0;
  transition: opacity 0.5s;
}


.tab-pane {
  padding: 0 15px;

  h1 {
    font-family: $opensans;
    font-size: 25px;
    font-weight: 600;
  }

  p {
    font-family: $opensans;
    font-size: 15px;
    @include truncate(100px, 3);
  }
}

.tab-content {
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-products {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.products-slick {
  .slick-dots li {
    @include size(10px, 5px);
    transition: width .5s;
  }

  .slick-dots li button {
    @include size(10px, 5px);
    padding: unset;
    transition: width .5s;
  }

  .slick-dots li button:before {
    content: '';
    background-color: $black;
    @include size(10px, 5px);
    border-radius: 10px;
    transition: width .5s;
  }

  .slick-dots li.slick-active {
    @include size(15px, 5px);
    transition: width .5s;
  }

  .slick-dots li.slick-active button {
    @include size(15px, 5px);
    padding: unset;
    transition: width .5s;
  }

  .slick-dots li.slick-active button:before {
    @include size(15px, 5px);
    transition: width .5s;
  }
}

footer::before {
  background-image: url('../img/wave_2.png');
  background-size: cover;
  @include pseudo();
  height: 100px;
  top: -99px;
  width: 100%;
}

.contact {
  background-color: #f5f5f5;
  padding: 70px 0 150px;
}

.contact-box {
  background-color: $white;
  @include size(100%, 500px);
  border-radius: 30px;
  padding: 50px;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.25);

  textarea {
    height: 140px;
  }
  
  @include responsive(xs) {
    @include size(100%, auto);
  }
}

.map-inner-box{
  iframe {
    @include size(100%);
  }

  @include responsive(xs) {
    display: none;
  }
}

.contact-inner-box {
  padding-left: 40px;

  @include responsive(xs) {
    padding-left: 0;
  }
}