@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");

.slick-slide:focus, .slick-slide a {
  outline: none;
}

.main-btn {
  border-radius: 15px;
  padding: 8px 24px;
  font-family: "Open Sans", sans-serif;
  transition: all ease-in-out .5s;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
}

.main-btn:hover {
  box-shadow: 0 13px 15px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
  transition: all ease-in-out .5s;
}

.btn-folly {
  color: #fff;
  font-weight: 700;
  margin-top: 30px;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: 700;
}

.navbar {
  padding: 8px 50px;
}

.navbar-brand img {
  width: 100px;
}

.nav-link {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.home-bg {
  background-image: url("../img/img_bg_2.jpg");
  background-size: cover;
  height: 90vh;
  position: relative;
  width: 100%;
}

.home-bg-mask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 50px;
  position: absolute;
  height: 100%;
  width: 100%;
}

.home-bg-mask h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
}

.products {
  padding: 50px 0;
  position: relative;
}

.products::before {
  background-image: url("../img/wave_2.png");
  background-size: cover;
  content: '';
  height: 100px;
  position: absolute;
  top: -99px;
  width: 100%;
}

.product-single {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  margin-bottom: 25px;
  position: relative;
  transition: all 300ms ease 0s;
  border-radius: 10px;
}

.product-single::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  transition: all 300ms ease 0s;
}

.product-single:hover::before {
  background: rgba(255, 255, 255, 0.9);
}

.product-text {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  left: 0px;
  padding: 20px;
  bottom: 30px;
}

.product-single:hover .product-text h4, i {
  background: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.product-single .product-text h4 {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 300ms linear 0s;
}

.blog {
  padding: 50px 0;
}

.post-wrapper {
  height: 500px;
  opacity: .5;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-property: opacity, all;
}

.post-content {
  height: 400px;
  border-radius: 10px;
  position: relative;
}

.post-content::after {
  content: '';
  width: 2px;
  height: 30px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  background-color: black;
  bottom: -15px;
}

.slick-center .post-wrapper {
  opacity: 1;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-property: opacity, all;
}

.slick-center .post-content {
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-property: opacity, all;
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.2);
}

.post-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.post-text {
  padding: 20px;
}

.post-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.post-img {
  height: 200px;
}

.post-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.post-date {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.post-date .month, .post-date .day {
  font-weight: 700;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.post-date .day {
  font-size: 30px;
}

.sticky-custom {
  top: -115px;
  transition: 1s all ease;
  position: inherit;
}

.stickyhead {
  position: fixed;
  background: white;
  top: 0;
  width: 100%;
  z-index: 9;
  transition: 1s all ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: gray;
  height: 600px;
  position: relative;
  padding-top: 150px;
  width: 100%;
}

footer::before {
  background-image: url("../img/wave.svg");
  background-size: cover;
  content: '';
  height: 100px;
  position: absolute;
  top: -3px;
  width: 100%;
}
